.expense-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: rgb(145, 44, 74);
}
.expense-item_description{
    display: flex;
    flex-direction: column;
    gap: 90rem;
    align-items:flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    margin-left: 50px;
    flex: 1;

}
.expense-item h2 {
color: #3a3a3a;
font-size: 1rem;
flex: 1;
margin: 0.1rem;
color: white;
}
.expense-item_price{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: #9b1d5c;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 25px;
}
.heading {
    color: #ff8120;
}
@media (min-width:580px){
    .expense-item_description {
       flex-direction: row;
       align-items: center;
       justify-content: flex-start;
       flex: 100;

    }
    .expense-item_description h2 {
    font: size 10.25em;

    }
    .expense-item_price{
        font-size: 1.25rem;
        padding: 00.5rem 1.5rem;
    }
}